# Node modules
node_modules/

# Build output
dist/

# Logs
logs/
*.log

# Runtime files
*.tsbuildinfo

# Optional npm cache directory
.npm/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Services
firebaseKey.json
